<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Employee Management System</span>
            </a>
        </header>

        {% if message and classtype %}
        <div class="alert alert-{{classtype}} alert-dismissible fade show" role="alert">
            <strong>{{message | safe}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}



        <div class="row align-items-md-stretch">

            <div class="col-md-6">
                <div class="p-5 bg-light border rounded-3">

                    <h3>Add Employee</h3>
                    <hr class="my-4">

                    <form action="/addEmp" method="POST">

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-10 col-form-label">Name : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="empName" name="empName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-10 col-form-label">Age :</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="empAge" name="empAge" min="0" max="200">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-10 col-form-label">Department :</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Select Department" name="empDept" required
                                    aria-required="Select the Department">
                                    <option value="" selected disabled>Select the Department</option>
                                    {% for item in data %}
                                    <option value="{{ item.DepName }}">{{ item.DepName }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-primary float-right">Add Employee</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-6">

                <div class="row-md-2">
                    <div class="h-100 p-5 bg-light border rounded-3">

                        <h3 class="py-1">Add Department</h3>
                        <hr class="my-4">

                        <form action="/addDept" method="POST">

                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-10 col-form-label">Department Name : </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="deptName" name="deptName">
                                </div>
                            </div>

                            <div class="form-group py-2">
                                <button type="submit" class="btn btn-primary float-right">Add Employee</button>
                            </div>

                        </form>
                    </div>

                </div>

                <!-- <div class="row-md-4 py-4">
                    <div class="h-100 p-5 bg-light border rounded-3">

                        <div class="form-group py-2">
                            <form action="/empList" method="GET">
                                <input type="submit" class="btn btn-primary float-right" value="Show Employee">

                            </form>
                        </div>

                    </div>

                </div> -->

            </div>

        </div>

    </div>

    

</body>

</html>